@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* reset page */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
:root {
  --primary_n: #7f8cff;
  --primary_b: #6070ff;
  --neutral_n: #344563;
  --neutral_b: #172b4d;
}

* a {
  text-decoration: none;
  color: inherit;
}

* ul li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--neutral_n);
  background-color: #e5e5e5;
  text-align: left;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.df {
  display: flex;
}

.gap12 {
  gap: 0.75rem; /* 12px */
}

section,
footer {
  position: relative;
  top: 3rem; /* 48px */
}

/* Typography and Colors */
.neutral_n {
  color: var(--neutral_n);
}

.neutral_b {
  color: var(--neutral_b);
}

.primary_n {
  color: var(--primary_n);
}

.primary_b {
  color: var(--primary_b);
}

.dark_grey {
  color: #7a869a;
}

.light_grey {
  color: #c1c7d0;
}

.bg_white {
  background-color: #fff;
}

.white {
  color: #fff;
}

.logo {
  font-size: 1.125rem; /* 18px */
  line-height: 1.25rem; /* 20px */
  font-weight: 700;
}

.main_title {
  font-size: 2.5rem; /* 40px */
  line-height: 3.25rem; /* 52px */
  font-weight: 800;
}

.project_title {
  font-size: 2rem; /* 32px */
  line-height: 2.75rem; /* 44px */
  font-weight: 700;
}

.skills_title {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
  color: #000;
}

.skill_name {
  font-size: 0.9375rem; /* 15px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
}

.descriptive_txt {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
}

.project_info_txt {
  font-size: 0.8125rem; /* 13px */
  line-height: 1rem; /* 16px */
  font-weight: 600;
}

.contact_txt {
  color: #ebebff;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 400;
  padding-bottom: 1.75rem; /* 28px */
  text-align: center;
}

form input,
form textarea {
  color: #172b4d;
  font-size: 1.0625rem; /* 17px */
  line-height: 1.25rem; /* 20px */
  font-weight: 400;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem; /* 15px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
}

.upper {
  text-transform: uppercase;
}

.fs_15 {
  font-size: 0.9375rem; /* 15px */
}

.fw_med {
  font-weight: 500;
}

.fw_600 {
  font-weight: 700;
}

.fw_bold {
  font-weight: 700;
}

.material-icons.small {
  font-size: 0.625rem; /* 15px */
}

/* Buttons */
.btn {
  font-weight: 500;
  letter-spacing: 0.03em;
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.btn_fc {
  justify-content: center;
  align-items: center;
}

.xs-transparent_btn {
  background-color: transparent;
  border: transparent;
  padding: 0.5rem; /* 8px */
}

.action_btn {
  font-size: 1.0625rem; /* 17px */
  line-height: 1.5rem; /* 24px */
  padding: 0.75rem; /* 12px */
}

.tag_btn {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  padding: 0.25rem 0.75rem; /* 4px 12px */
  background-color: #ebebff;
  color: var(--primary_b);
}

.enabled {
  color: #396dfa;
  background-color: #fff;
  border: 1px solid var(--primary_b);
  transition: all 200ms ease-in-out;
}

.enabled:hover {
  color: #fff;
  background-color: var(--primary_b);
  border: 1px solid white;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24); /* 0 8px 16px */
}

.enabled:active {
  color: #fff;
  background-color: #2230d2;
  border: none;
}

.action_btn.disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

/* Backgrounds */
.shapes_bg {
  background-image: url("./back-img/header-shapes-mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.contact-me_sect_bg {
  background-image: url("./back-img/contact_form_shapes-mobile@2x.svg");
  background-color: var(--primary_b);
  background-repeat: no-repeat;
  background-position: right 0 top 21px;
  background-size: auto;
}

/* Header layout  */
header .navbar {
  position: fixed;
  width: 100vw;
  height: 3rem; /* 48px */
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header .navbar .logo_placeholder {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0.25rem; /* 4px */
}

.logo_placeholder .logo.xs-transparent_btn {
  padding: 0.625rem 0.75rem; /* 10px 12px */
}

header .navbar nav {
  margin-right: 1.5rem; /* 24px */
}

nav .menu {
  display: none;
}

.headline {
  width: 100%;
  align-items: center;
  align-content: center;
  border-bottom-left-radius: 5.5rem; /* 88px */
}

.headline .headline_content {
  flex-direction: column;
  align-items: flex-start;
  margin: 30% auto 31% auto;
  padding: 0 1.5rem; /* 0 24px */
}

.headline_content .social,
.about_section .top .social {
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem; /* 20px */
}

/* Work section layout */
.works_section,
.about_section {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 5.5rem; /* 88px */
  padding: 7.125rem 1.5rem; /* 114px 24px */
}

.work_card {
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 1rem; /* 16px */
  padding: 1rem; /* 16px */
}

.work_card .img {
  background-color: #ebebff;
  height: 220px;
  width: auto;
  border-radius: 0.5rem; /* 8px */
  margin: 0 auto;
  align-items: center;
}

.work_card .img img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem; /* 10px */
}

.work_card .card_details {
  max-width: 90vw;
  flex-direction: column;
  align-content: flex-start;
}

.card_details .project_details_wrapper {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.project_details_wrapper .project_title {
  padding-right: 0.125rem; /* 2px */
}

.project_details_wrapper .project_details {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 1.25rem 0; /* 20px */
}

.work_card .tags {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.5rem; /* 8px */
  margin: 0.75rem 0 1.5rem 0; /* 12px 0 24px 0 */
}

.work_card .action {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.75rem; /* 12px */
}

/* About section layout */
.about_section {
  position: relative;
  border-top-right-radius: 5.5rem; /* 88px */
  margin-bottom: -4rem;
  padding-bottom: 11.125rem; /* -4rem negative margin = 7.125rrem = 114px */
}

.about_section .top {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about_section .top .social {
  margin: 0.625rem 0; /* 10px 0 */
}

.about_section .skills {
  display: grid;
  grid-template-columns: 100%;
}

.skills li .skill_frame {
  height: 4.5rem; /* 72px */
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 0.75rem; /* 0 12px */
}

.skills li .skill_frame.separator {
  border-bottom: 1px solid #dfe1e6;
}

.skills li .skill_frame .expand_collapse {
  margin: 0 0.875rem; /* 14px */
}

.skills li .skill_content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.75rem; /* 12px */
}

.skills li .skill_content .skill_item {
  justify-content: flex-start;
  align-items: center;
  color: #253858;
  background: #f7f7f9;
  border-radius: 0.5rem; /* 8px */
}

.skill_content .skill_item .skill_item_icon {
  height: 3rem; /* 48px */
  margin: 0.5625rem 1rem 0.625rem 0.75rem; /* 9px 16px 10px 12px */
}

/* Contact section layout */
.contact-me_section {
  justify-content: center;
  border-top-left-radius: 5.5rem; /* 88px */
}

.contact-me_section .content_wrapper {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem; /* 800px */
  margin-top: 13.8255033557%;
  padding: 1.5rem; /* 24px */
  padding-bottom: 1rem; /* 16px */
  position: relative;
  bottom: 0;
}

.contact-me_section .content_wrapper form {
  width: 100%;
  max-width: 27.9375rem; /* 447px */
}

form ul.contact_form {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.25rem;/* 20px */
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  border: none;
  border-radius: 0.5rem; /* 8px */
  padding: 0.9375rem 1rem; /* 15px 16px */
}

.contact_form li:last-child {
  margin-bottom: 1rem; /* 16px */
}

/* ------ Media queries ------ */
@media only screen and (min-width: 992px) {
  section,
  footer {
    position: relative;
    top: 4.5rem; /* 72px */
  }

  /* Media queries for Backgrounds */
  .shapes_bg {
    background-image: url("./back-img/desktop-main-bg@2x.svg");
    background-size: 90%;
  }

  .contact-me_sect_bg {
    background-image: url("./back-img/contact_background_shapes@2x.svg");
    background-position: center;
    background-size: 90%;
  }

  /* Media queries for Buttons */
  .xs-transparent_btn {
    padding: 0.625rem 0.75rem; /* 10px 12px */
  }

  /* Media queries for Header */
  header .navbar {
    height: 4.5rem; /* 72px */
    padding: 0 10.02%;
  }

  nav {
    margin-right: 0;
  }

  nav .menu_btn {
    display: none;
  }

  nav .menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem; /* 8px */
  }

  nav .menu .btn {
    letter-spacing: 0;
    font-size: 0.9375rem; /* 15px */
    line-height: 1.25rem; /* 20px */
  }

  .headline {
    height: auto;
  }

  .headline .headline_content {
    max-width: 57.5rem; /* 920px */
    margin: auto auto;
    padding: 18rem 0 15.9375rem 0; /* 288px 0 255px 0 */
  }

  .headline_content .main_title {
    font-size: 3rem; /* 48px */
    line-height: 3.75rem; /* 60px */
    font-weight: 700;
  }

  .headline_content .main-desc {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: 400;
  }

  /* Media queries for Work Section */
  .works_section {
    padding: 8.875rem 9.978%; /* 142px 142px */
  }

  .works_section .work_card {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.375rem; /* 22px */
    padding: 1.5rem; /* 24px */
  }

  .works_section .work_card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .works_section .work_card .img {
    width: 50%;
    height: 100%;
  }

  .works_section .work_card .card_details {
    width: 50%;
    max-width: none;
    padding: 1.5rem; /* 24px */
  }

  .project_details_wrapper .project_title {
    font-size: 2.5rem; /* 40px */
    line-height: 3.25rem; /* 52px */
  }

  .project_details_wrapper .project_details .project_info_txt {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5rem; /* 24px */
    font-weight: 400;
  }

  .project_details .project_info_txt.upper {
    font-weight: 500;
  }

  .card_details .descriptive_txt {
    font-size: 1rem; /* 16px */
    padding: 0.75rem 0; /* 12px 0 */
  }

  .card_details .tags {
    margin: 0.75rem 0; /* 12px 0 */
  }

  .card_details .action {
    margin-top: 1.75rem; /* 28px */
  }

  /* Media queries for About Section */
  .about_section {
    grid-template-columns: 38.66782% 59.16955%;
    gap: 1.5625rem; /* 25px */
    padding: 8.875rem 9.978% 12.375rem 9.978%;
  }

  .about_section .top .main_title {
    font-weight: 700;
  }

  .about_section .skills {
    padding: 0.75rem; /* 12px */
  }

  .skills li .skill_frame {
    padding: 0 1.5rem; /* 0 24px */
  }

  .skills li .skill_content {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem; /* 12px */
  }

  .skills li .skill_content .skill_item {
    width: 7.625rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.75rem 0.75rem 1.25rem 0.75rem; /* 12px */
    gap: 1rem; /* 16px */
  }

  .skill_content .skill_item .skill_item_icon {
    margin: 0;
  }

  /* Media queries for Contact-me Section */
  .contact-me_section .content_wrapper {
    margin-top: 7.375rem; /* 118px = 142-24p */
  }

  .contact-me_section .content_wrapper .contact_txt {
    margin: 0 5.75rem; /* 92px = 116-24parent p */
  }

  form ul.contact_form {
    gap: 1.6875rem; /* 27px */
  }

  form .contact_form li:last-child {
    align-self: center;
    margin-bottom: 7.9375rem; /* 127px */
  }
}
